# Download dataset for Surat ITMS

### Importing necessary libraries

In [1]:
from iudx.entity.Entity import Entity

import pandas as pd
import json

### Getting token from configuration

In [2]:
config = {}
with open("../config.json", "r") as f:
    config = json.load(f)

### Surat ITMS Resource entities

In [3]:
surat_itms_entity = "suratmunicipal.org/6db486cb4f720e8585ba1f45a931c63c25dbbbda/rs.iudx.org.in/surat-itms-realtime-info/surat-itms-live-eta"

### Building an Entity for Surat ITMS data.

In [4]:
entity = Entity(
    entity_id=surat_itms_entity,
    token=config["headers"]["token"]
)

### Creating a temporal query to get Resource data during a time interval.

In [5]:
during_start_time = "2021-01-01T14:20:00Z"
during_end_time = "2021-01-01T14:40:00Z"

df_during = entity.during_search(
    start_time=during_start_time,
    end_time=during_end_time
)

df_during.head()

,license_plate,last_stop_arrival_time,route_id,speed,last_stop_id,id,observationDateTime,trip_direction,trip_delay,vehicle_label,actual_trip_start_time,trip_id,location.coordinates,location.type
0,GJ05BX1427,19:49:06,12D,56.0,4044,suratmunicipal.org/6db486cb4f720e8585ba1f45a93...,2021-01-01 19:50:00+05:30,DN,994,P61,2021-01-01T19:36:33+05:30,15472330,"[72.870739, 21.195297]",Point
1,GJ05BX2049,19:44:40,136U,0.0,1002,suratmunicipal.org/6db486cb4f720e8585ba1f45a93...,2021-01-01 19:50:03+05:30,UP,54,A13,2021-01-01T19:43:42+05:30,15473016,"[72.831181, 21.183466]",Point
2,GJ05BX3421,19:45:10,16D,23.0,2021,suratmunicipal.org/6db486cb4f720e8585ba1f45a93...,2021-01-01 19:50:04+05:30,DN,3544,C189,2021-01-01T18:58:52+05:30,15471658,"[72.84861, 21.238487]",Point
3,GJ05BX2388,19:38:46,136U,41.8,2604,suratmunicipal.org/6db486cb4f720e8585ba1f45a93...,2021-01-01 19:50:04+05:30,UP,336,A44,2021-01-01T19:23:16+05:30,15473014,"[72.769988, 21.158856]",Point
4,GJ05BX2640,None,16D,0.0,2028,suratmunicipal.org/6db486cb4f720e8585ba1f45a93...,2021-01-01 19:50:06+05:30,DN,465,C114,2021-01-01T18:27:47+05:30,15471630,"[72.862002, 21.216164]",Point

In [6]:
print(f"During Dataset has {df_during.shape[0]} rows and {df_during.shape[1]} columns.")

During Dataset has 3619 rows and 14 columns.

### Defining file name to save the dataset

In [7]:
file_name = "IUDX_Surat_ITMS" # default file_name is [entity_id + start_time + end_time]

### Downloading Dataset

In [8]:
entity.download(file_name)

Data saved with file name: IUDX_Surat_ITMS.zip

### Loading downloaded dataset

In [9]:
import zipfile

zf = zipfile.ZipFile(f"{file_name}.zip")
df = pd.read_csv(zf.open(f"{file_name}.csv"))
df.head()

,license_plate,last_stop_arrival_time,route_id,speed,last_stop_id,id,observationDateTime,trip_direction,trip_delay,vehicle_label,actual_trip_start_time,trip_id,location.coordinates,location.type
0,GJ05BX1427,19:49:06,12D,56.0,4044,suratmunicipal.org/6db486cb4f720e8585ba1f45a93...,2021-01-01 19:50:00+05:30,DN,994,P61,2021-01-01T19:36:33+05:30,15472330,"[72.870739, 21.195297]",Point
1,GJ05BX2049,19:44:40,136U,0.0,1002,suratmunicipal.org/6db486cb4f720e8585ba1f45a93...,2021-01-01 19:50:03+05:30,UP,54,A13,2021-01-01T19:43:42+05:30,15473016,"[72.831181, 21.183466]",Point
2,GJ05BX3421,19:45:10,16D,23.0,2021,suratmunicipal.org/6db486cb4f720e8585ba1f45a93...,2021-01-01 19:50:04+05:30,DN,3544,C189,2021-01-01T18:58:52+05:30,15471658,"[72.84861, 21.238487]",Point
3,GJ05BX2388,19:38:46,136U,41.8,2604,suratmunicipal.org/6db486cb4f720e8585ba1f45a93...,2021-01-01 19:50:04+05:30,UP,336,A44,2021-01-01T19:23:16+05:30,15473014,"[72.769988, 21.158856]",Point
4,GJ05BX2640,NaN,16D,0.0,2028,suratmunicipal.org/6db486cb4f720e8585ba1f45a93...,2021-01-01 19:50:06+05:30,DN,465,C114,2021-01-01T18:27:47+05:30,15471630,"[72.862002, 21.216164]",Point